.mobile-shopping-bag {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .mobile-shopping-bag .div {
    background-color: var(--white);
    width: 360px;
    height: 640px;
    position: relative;
  }
  
  .mobile-shopping-bag .mobile-payment {
    position: absolute;
    width: 320px;
    height: 115px;
    top: 110px;
    left: 20px;
  }
  
  .mobile-shopping-bag .information {
    display: flex;
    flex-direction: column;
    width: 210px;
    align-items: flex-start;
    gap: 8px;
    padding: 0px 0px 0px 8px;
    position: absolute;
    top: 0;
    left: 110px;
  }
  
  .mobile-shopping-bag .frame {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile-shopping-bag .title {
    position: relative;
    width: 173px;
    margin-top: -1.00px;
    font-family: var(--mobile-h5-font-family);
    font-weight: var(--mobile-h5-font-weight);
    color: var(--black);
    font-size: var(--mobile-h5-font-size);
    letter-spacing: var(--mobile-h5-letter-spacing);
    line-height: var(--mobile-h5-line-height);
    font-style: var(--mobile-h5-font-style);
  }
  
  .mobile-shopping-bag .frame-2 {
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./img/close.svg);
    background-size: 100% 100%;
  }
  
  .mobile-shopping-bag .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile-shopping-bag .size {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--mobile-bodysm-font-family);
    font-weight: var(--mobile-bodysm-font-weight);
    color: var(--black);
    font-size: var(--mobile-bodysm-font-size);
    letter-spacing: var(--mobile-bodysm-letter-spacing);
    line-height: var(--mobile-bodysm-line-height);
    font-style: var(--mobile-bodysm-font-style);
  }
  
  .mobile-shopping-bag .color {
    position: relative;
    align-self: stretch;
    font-family: var(--mobile-bodysm-font-family);
    font-weight: var(--mobile-bodysm-font-weight);
    color: var(--black);
    font-size: var(--mobile-bodysm-font-size);
    letter-spacing: var(--mobile-bodysm-letter-spacing);
    line-height: var(--mobile-bodysm-line-height);
    font-style: var(--mobile-bodysm-font-style);
  }
  
  .mobile-shopping-bag .frame-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile-shopping-bag .text-wrapper {
    position: relative;
    flex: 1;
    font-family: var(--mobile-h5-font-family);
    font-weight: var(--mobile-h5-font-weight);
    color: var(--black);
    font-size: var(--mobile-h5-font-size);
    letter-spacing: var(--mobile-h5-letter-spacing);
    line-height: var(--mobile-h5-line-height);
    font-style: var(--mobile-h5-font-style);
  }
  
  .mobile-shopping-bag .quantity {
    display: flex;
    width: 68px;
    height: 25px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    background-color: var(--primaryprimary-50);
  }
  
  .mobile-shopping-bag .img {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .mobile-shopping-bag .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--mobile-bodylg-font-family);
    font-weight: var(--mobile-bodylg-font-weight);
    color: var(--primaryprimary-700);
    font-size: var(--mobile-bodylg-font-size);
    text-align: center;
    letter-spacing: var(--mobile-bodylg-letter-spacing);
    line-height: var(--mobile-bodylg-line-height);
    white-space: nowrap;
    font-style: var(--mobile-bodylg-font-style);
  }
  
  .mobile-shopping-bag .overlap-group {
    position: absolute;
    width: 110px;
    height: 115px;
    top: 0;
    left: 0;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .mobile-shopping-bag .chips-component {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    position: relative;
    top: 8px;
    left: 70px;
    background-color: var(--white);
  }
  
  .mobile-shopping-bag .lable-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .mobile-shopping-bag .lable {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--mobile-bodysm-font-family);
    font-weight: var(--mobile-bodysm-font-weight);
    color: var(--black);
    font-size: var(--mobile-bodysm-font-size);
    text-align: center;
    letter-spacing: var(--mobile-bodysm-letter-spacing);
    line-height: var(--mobile-bodysm-line-height);
    font-style: var(--mobile-bodysm-font-style);
  }
  
  .mobile-shopping-bag .mobile-payment-2 {
    top: 257px;
    position: absolute;
    width: 320px;
    height: 115px;
    left: 20px;
  }
  
  .mobile-shopping-bag .overlap {
    position: absolute;
    width: 110px;
    height: 115px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-12409-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .mobile-shopping-bag .mobile-payment-3 {
    top: 404px;
    position: absolute;
    width: 320px;
    height: 115px;
    left: 20px;
  }
  
  .mobile-shopping-bag .chips-component-wrapper {
    position: absolute;
    width: 110px;
    height: 115px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-12409.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .mobile-shopping-bag .text-wrapper-3 {
    position: absolute;
    top: 47px;
    left: 141px;
    font-family: var(--mobile-h3-font-family);
    font-weight: var(--mobile-h3-font-weight);
    color: var(--primaryprimary-800);
    font-size: var(--mobile-h3-font-size);
    letter-spacing: var(--mobile-h3-letter-spacing);
    line-height: var(--mobile-h3-line-height);
    white-space: nowrap;
    font-style: var(--mobile-h3-font-style);
  }
  
  .mobile-shopping-bag .close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 48px;
    left: 32px;
  }
  
  .mobile-shopping-bag .status-bar {
    position: absolute;
    width: 360px;
    height: 24px;
    top: 0;
    left: 0;
    background-color: var(--white);
  }
  
  .mobile-shopping-bag .frame-5 {
    display: flex;
    width: 344px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
    position: relative;
    top: 2px;
    left: 8px;
  }
  
  .mobile-shopping-bag .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--mobile-h4-font-family);
    font-weight: var(--mobile-h4-font-weight);
    color: var(--black);
    font-size: var(--mobile-h4-font-size);
    text-align: center;
    letter-spacing: var(--mobile-h4-letter-spacing);
    line-height: var(--mobile-h4-line-height);
    white-space: nowrap;
    font-style: var(--mobile-h4-font-style);
  }
  
  .mobile-shopping-bag .frame-6 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile-shopping-bag .img-2 {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .mobile-shopping-bag .button-comp {
    display: flex;
    width: 185px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px;
    position: absolute;
    top: 551px;
    background-color: var(--primaryprimary-600);
  }
  
  .mobile-shopping-bag .add-to-cart {
    position: relative;
    width: fit-content;
    margin-top: -9.00px;
    margin-bottom: -7.00px;
    font-family: var(--button-SM-font-family);
    font-weight: var(--button-SM-font-weight);
    color: var(--white);
    font-size: var(--button-SM-font-size);
    text-align: center;
    letter-spacing: var(--button-SM-letter-spacing);
    line-height: var(--button-SM-line-height);
    white-space: nowrap;
    font-style: var(--button-SM-font-style);
  }
  