/*-----------------------------------*
  #Reusable
\*-----------------------------------*/
.desktop-shop-all {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-shop-all .div {
  background-color: var(--white);
  width: 1440px;
  height: 3201px;
  position: relative;
}

.desktop-shop-all .frame,
.desktop-shop-all .frame-2,
.desktop-shop-all .frame-3,
.desktop-shop-all .frame-4,
.desktop-shop-all .frame-5,
.desktop-shop-all .frame-6,
.desktop-shop-all .frame-7,
.desktop-shop-all .frame-8,
.desktop-shop-all .frame-9,
.desktop-shop-all .frame-10,
.desktop-shop-all .frame-11,
.desktop-shop-all .frame-12 {
  display: flex;
  width: 648px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 54px;
  left: 396px;
}

.desktop-shop-all .text-wrapper,
.desktop-shop-all .text-wrapper-2,
.desktop-shop-all .text-wrapper-3,
.desktop-shop-all .text-wrapper-4,
.desktop-shop-all .text-wrapper-5,
.desktop-shop-all .text-wrapper-6,
.desktop-shop-all .text-wrapper-7,
.desktop-shop-all .text-wrapper-8,
.desktop-shop-all .text-wrapper-9,
.desktop-shop-all .text-wrapper-10 {
  position: absolute;
  height: 29px;
  top: -19px;
  left: 598px;
  font-family: var(--body-MD-font-family);
  font-weight: var(--body-MD-font-weight);
  color: var(--white);
  font-size: var(--body-MD-font-size);
  text-align: center;
  letter-spacing: var(--body-MD-letter-spacing);
  line-height: var(--body-MD-line-height);
  white-space: nowrap;
  font-style: var(--body-MD-font-style);
}

.desktop-shop-all .colors,
.desktop-shop-all .color,
.desktop-shop-all .color-2,
.desktop-shop-all .color-3,
.desktop-shop-all .color-4,
.desktop-shop-all .color-5 {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-shop-all .footer,
.desktop-shop-all .footer-text-box,
.desktop-shop-all .footer-text-box-2,
.desktop-shop-all .footer-text-box-3,
.desktop-shop-all .footer-chat-box,
.desktop-shop-all .footer-social-media,
.desktop-shop-all .copyright {
  position: absolute;
  width: 1440px;
  height: 417px;
  top: 2785px;
  left: 0;
  background-color: var(--neutralgray-404040);
}

/*-----------------------------------*
  #Product
\*-----------------------------------*/
.desktop-shop-all .HEADER {
  position: absolute;
  width: 1440px;
  height: 110px;
  top: 0;
  left: 0;
  background-color: var(--white);
}

.desktop-shop-all .overlap-group {
  position: absolute;
  width: 1440px;
  height: 30px;
  top: 0;
  left: 0;
}

.desktop-shop-all .h-green-line {
  position: absolute;
  width: 1440px;
  height: 30px;
  top: 0;
  left: 0;
  background-color: var(--primaryprimary-600);
}

.desktop-shop-all .text {
  position: absolute;
  height: 29px;
  top: -19px;
  left: 598px;
  font-family: var(--body-MD-font-family);
  font-weight: var(--body-MD-font-weight);
  color: var(--white);
  font-size: var(--body-MD-font-size);
  text-align: center;
  letter-spacing: var(--body-MD-letter-spacing);
  line-height: var(--body-MD-line-height);
  white-space: nowrap;
  font-style: var(--body-MD-font-style);
}

.desktop-shop-all .text-wrapper {
  position: absolute;
  height: 15px;
  top: 7px;
  left: 602px;
  font-family: var(--overline-SM-font-family);
  font-weight: var(--overline-SM-font-weight);
  color: var(--white);
  font-size: var(--overline-SM-font-size);
  text-align: center;
  letter-spacing: var(--overline-SM-letter-spacing);
  line-height: var(--overline-SM-line-height);
  font-style: var(--overline-SM-font-style);
}

.desktop-shop-all .header-search-icon {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/search.svg);
  background-size: 100% 100%;
}

.desktop-shop-all .header-profile-icon {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-shop-all .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.desktop-shop-all .header-favorite-icon {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/favorite-2.svg);
  background-size: 100% 100%;
}

.desktop-shop-all .header-bag-icon {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-shop-all .logo {
  display: flex;
  flex-direction: column;
  width: 184px;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 46px;
  left: 108px;
}

.desktop-shop-all .frame-3 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-shop-all .subtract {
  position: relative;
  width: 10px;
  height: 10px;
}

.desktop-shop-all .text-wrapper-4 {
  position: relative;
  width: 95px;
  font-family: "League Spartan-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralgray-404040);
  font-size: 10px;
  text-align: center;
  letter-spacing: var(--button-SM-letter-spacing);
  line-height: var(--button-SM-line-height);
}

.desktop-shop-all .filter {
  display: flex;
  flex-direction: column;
  width: 392px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 933px;
  left: 108px;
}

.desktop-shop-all .filters {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: var(--black);
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  white-space: nowrap;
  font-style: var(--h3-font-style);
}

.desktop-shop-all .div-2 {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--primary);
}

.desktop-shop-all .text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -4px;
  margin-bottom: -2px;
  font-family: var(--h6-font-family);
  font-weight: var(--h6-font-weight);
  color: var(--white);
  font-size: var(--h6-font-size);
  letter-spacing: var(--h6-letter-spacing);
  line-height: var(--h6-line-height);
  font-style: var(--h6-font-style);
}

.desktop-shop-all .vector {
  position: relative;
  width: 14px;
  height: 14px;
}

.desktop-shop-all .component {
  display: flex;
  height: 40px;
  gap: 16px;
  padding: 16px;
  align-self: stretch;
  width: 100%;
  background-color: var(--primary);
  align-items: center;
  position: relative;
}

.desktop-shop-all .fabric {
  position: relative;
  flex: 1;
  margin-top: -8px;
  margin-bottom: -6px;
  font-family: var(--mobile-h3-font-family);
  font-weight: var(--mobile-h3-font-weight);
  color: var(--white);
  font-size: var(--mobile-h3-font-size);
  letter-spacing: var(--mobile-h3-letter-spacing);
  line-height: var(--mobile-h3-line-height);
  font-style: var(--mobile-h3-font-style);
}

.desktop-shop-all .vector-2 {
  position: relative;
  width: 14px;
  height: 14px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.desktop-shop-all .breadcrumbb {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 142px;
  left: 108px;
}

.desktop-shop-all .component-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-shop-all .text-2 {
  color: var(--primary);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-LG-font-family);
  font-weight: var(--body-LG-font-weight);
  font-size: var(--body-LG-font-size);
  text-align: center;
  letter-spacing: var(--body-LG-letter-spacing);
  line-height: var(--body-LG-line-height);
  white-space: nowrap;
  font-style: var(--body-LG-font-style);
}

.desktop-shop-all .component-3 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.desktop-shop-all .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-LG-font-family);
  font-weight: var(--body-LG-font-weight);
  color: var(--neutralgray-606060);
  font-size: var(--body-LG-font-size);
  text-align: center;
  letter-spacing: var(--body-LG-letter-spacing);
  line-height: var(--body-LG-line-height);
  white-space: nowrap;
  font-style: var(--body-LG-font-style);
}

.desktop-shop-all .text-3 {
  color: var(--black);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-LG-font-family);
  font-weight: var(--body-LG-font-weight);
  font-size: var(--body-LG-font-size);
  text-align: center;
  letter-spacing: var(--body-LG-letter-spacing);
  line-height: var(--body-LG-line-height);
  white-space: nowrap;
  font-style: var(--body-LG-font-style);
}

.desktop-shop-all .button-comp {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 184px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px;
  position: absolute;
  top: 2697px;
  left: 836px;
  border: 1px solid;
  border-color: var(--primaryprimary-600);
}

.desktop-shop-all .add-to-cart {
  position: relative;
  width: fit-content;
  margin-top: -9px;
  margin-bottom: -7px;
  font-family: var(--button-SM-font-family);
  font-weight: var(--button-SM-font-weight);
  color: var(--primaryprimary-600);
  font-size: var(--button-SM-font-size);
  text-align: center;
  letter-spacing: var(--button-SM-letter-spacing);
  line-height: var(--button-SM-line-height);
  white-space: nowrap;
  font-style: var(--button-SM-font-style);
}

.desktop-shop-all .header-favorite-icon-wrapper {
  position: absolute;
  width: 392px;
  height: 438px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-12348-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop-shop-all .header-favorite-icon-2 {
  position: relative;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 344px;
  background-image: url(./img/favorite.svg);
  background-size: 100% 100%;
}

.desktop-shop-all .overlap-group-2 {
  position: absolute;
  width: 392px;
  height: 438px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-12348-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop-shop-all .overlap-2 {
  position: absolute;
  width: 392px;
  height: 438px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-12348-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop-shop-all .chips-component {
  display: flex;
  width: 86px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: var(--white);
}

.desktop-shop-all .lable-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop-shop-all .lable {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-SM-font-family);
  font-weight: var(--body-SM-font-weight);
  color: var(--black);
  font-size: var(--body-SM-font-size);
  text-align: center;
  letter-spacing: var(--body-SM-letter-spacing);
  line-height: var(--body-SM-line-height);
  font-style: var(--body-SM-font-style);
}

.desktop-shop-all .header-favorite-icon-3 {
  position: absolute;
  top: 24px;
  left: 344px;
  width: 24px;
  height: 24px;
  background-image: url(./img/favorite.svg);
  background-size: 100% 100%;
}

/*-----------------------------------*
  #Landing
\*-----------------------------------*/
/* Place landing page specific styles here if any are in style.css */
