:root {
  --primary: #f0f884;
  --black: rgba(12, 12, 12, 1);
  --white: rgba(255, 255, 255, 1);
  --primaryprimary-25: rgba(240, 242, 239, 1);
  --primaryprimary-50: rgba(209, 217, 207, 1);
  --primaryprimary-100: rgba(178, 191, 175, 1);
  --primaryprimary-200: rgba(162, 179, 159, 1);
  --primaryprimary-300: rgba(147, 166, 144, 1);
  --primaryprimary-400: rgba(131, 153, 128, 1);
  --primaryprimary-600: #927830;
  --primaryprimary-700: rgba(64, 78, 62, 1);
  --primaryprimary-750: rgba(52, 62, 50, 1);
  --primaryprimary-800: rgba(39, 47, 37, 1);
  --primaryprimary-900: rgba(13, 16, 12, 1);
  --neutralbackgroundfaf-9f-5: rgba(250, 249, 245, 1);
  --neutralgraydfdfdf: rgba(223, 223, 223, 1);
  --neutralgrayededed: rgba(237, 237, 237, 1);
  --neutralgrayf-9f-9f-9: rgba(249, 249, 249, 1);
  --neutralgraycbcbcb: rgba(203, 203, 203, 1);
  --neutralgrayadadad: rgba(173, 173, 173, 1);
  --neutralgray-868686: rgba(134, 134, 134, 1);
  --neutralgray-606060: rgba(96, 96, 96, 1);
  --neutralgray-404040: rgba(64, 64, 64, 1);
  --neutralgray-202020: rgba(32, 32, 32, 1);
  --neutralgray-0c-0c-0c: rgba(12, 12, 12, 1);
  --state-colorwarning-bg: rgba(247, 228, 201, 1);
  --state-colorwarning-light: rgba(236, 187, 119, 1);
  --state-colorwarning: rgba(224, 145, 38, 1);
  --state-colorerror-bg: rgba(255, 242, 242, 1);
  --state-colorerror-light: rgba(237, 46, 46, 1);
  --state-colorerror: rgba(195, 0, 0, 1);
  --state-colorsuccess-bg: rgba(243, 253, 250, 1);
  --state-colorsuccess-light: rgba(0, 186, 136, 1);
  --state-colorsuccess: rgba(0, 150, 109, 1);
  --display-1-font-family: "Montserrat", Helvetica;
  --display-1-font-weight: 700;
  --display-1-font-size: 64px;
  --display-1-letter-spacing: 0px;
  --display-1-line-height: 139.9999976158142%;
  --display-1-font-style: normal;
  --display-2-font-family: "Montserrat", Helvetica;
  --display-2-font-weight: 700;
  --display-2-font-size: 56px;
  --display-2-letter-spacing: 0px;
  --display-2-line-height: 120.00000476837158%;
  --display-2-font-style: normal;
  --h1-font-family: "Montserrat", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 44px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 139.9999976158142%;
  --h1-font-style: normal;
  --h2-font-family: "Montserrat", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 40px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 139.9999976158142%;
  --h2-font-style: normal;
  --h3-font-family: "Montserrat", Helvetica;
  --h3-font-weight: 600;
  --h3-font-size: 32px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 139.9999976158142%;
  --h3-font-style: normal;
  --h4-font-family: "Montserrat", Helvetica;
  --h4-font-weight: 700;
  --h4-font-size: 24px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 139.9999976158142%;
  --h4-font-style: normal;
  --h5-font-family: "Montserrat", Helvetica;
  --h5-font-weight: 700;
  --h5-font-size: 20px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 139.9999976158142%;
  --h5-font-style: normal;
  --h6-font-family: "Montserrat", Helvetica;
  --h6-font-weight: 700;
  --h6-font-size: 16px;
  --h6-letter-spacing: 0px;
  --h6-line-height: 139.9999976158142%;
  --h6-font-style: normal;
  --body-XL-font-family: "Montserrat", Helvetica;
  --body-XL-font-weight: 400;
  --body-XL-font-size: 20px;
  --body-XL-letter-spacing: 0px;
  --body-XL-line-height: 179.99999523162842%;
  --body-XL-font-style: normal;
  --body-LG-font-family: "Montserrat", Helvetica;
  --body-LG-font-weight: 400;
  --body-LG-font-size: 18px;
  --body-LG-letter-spacing: 0px;
  --body-LG-line-height: 179.99999523162842%;
  --body-LG-font-style: normal;
  --body-MD-font-family: "Montserrat", Helvetica;
  --body-MD-font-weight: 400;
  --body-MD-font-size: 16px;
  --body-MD-letter-spacing: 0px;
  --body-MD-line-height: 179.99999523162842%;
  --body-MD-font-style: normal;
  --body-SM-font-family: "Montserrat", Helvetica;
  --body-SM-font-weight: 400;
  --body-SM-font-size: 14px;
  --body-SM-letter-spacing: 0px;
  --body-SM-line-height: 179.99999523162842%;
  --body-SM-font-style: normal;
  --body-XS-font-family: "Montserrat", Helvetica;
  --body-XS-font-weight: 400;
  --body-XS-font-size: 12px;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 179.99999523162842%;
  --body-XS-font-style: normal;
  --budyxs-with-underline-font-family: "Montserrat", Helvetica;
  --budyxs-with-underline-font-weight: 400;
  --budyxs-with-underline-font-size: 12px;
  --budyxs-with-underline-letter-spacing: 0px;
  --budyxs-with-underline-line-height: 179.99999523162842%;
  --budyxs-with-underline-font-style: normal;
  --caption-LG-font-family: "Montserrat", Helvetica;
  --caption-LG-font-weight: 600;
  --caption-LG-font-size: 14px;
  --caption-LG-letter-spacing: 0px;
  --caption-LG-line-height: 179.99999523162842%;
  --caption-LG-font-style: normal;
  --caption-MD-font-family: "Montserrat", Helvetica;
  --caption-MD-font-weight: 400;
  --caption-MD-font-size: 12px;
  --caption-MD-letter-spacing: 0px;
  --caption-MD-line-height: 179.99999523162842%;
  --caption-MD-font-style: normal;
  --caption-SM-font-family: "Montserrat", Helvetica;
  --caption-SM-font-weight: 600;
  --caption-SM-font-size: 10px;
  --caption-SM-letter-spacing: 0px;
  --caption-SM-line-height: 179.99999523162842%;
  --caption-SM-font-style: normal;
  --button-LG-font-family: "Montserrat", Helvetica;
  --button-LG-font-weight: 400;
  --button-LG-font-size: 16px;
  --button-LG-letter-spacing: 0px;
  --button-LG-line-height: 179.99999523162842%;
  --button-LG-font-style: normal;
  --button-SM-font-family: "Montserrat", Helvetica;
  --button-SM-font-weight: 400;
  --button-SM-font-size: 14px;
  --button-SM-letter-spacing: 0px;
  --button-SM-line-height: 24px;
  --button-SM-font-style: normal;
  --overline-LG-font-family: "Montserrat", Helvetica;
  --overline-LG-font-weight: 400;
  --overline-LG-font-size: 16px;
  --overline-LG-letter-spacing: 0px;
  --overline-LG-line-height: 179.99999523162842%;
  --overline-LG-font-style: normal;
  --overline-SM-font-family: "Montserrat", Helvetica;
  --overline-SM-font-weight: 600;
  --overline-SM-font-size: 12px;
  --overline-SM-letter-spacing: 0.800000011920929px;
  --overline-SM-line-height: normal;
  --overline-SM-font-style: normal;
  --mobile-h1-font-family: "Montserrat", Helvetica;
  --mobile-h1-font-weight: 700;
  --mobile-h1-font-size: 24px;
  --mobile-h1-letter-spacing: 0px;
  --mobile-h1-line-height: 139.9999976158142%;
  --mobile-h1-font-style: normal;
  --mobile-h2-font-family: "Montserrat", Helvetica;
  --mobile-h2-font-weight: 700;
  --mobile-h2-font-size: 20px;
  --mobile-h2-letter-spacing: 0px;
  --mobile-h2-line-height: 139.9999976158142%;
  --mobile-h2-font-style: normal;
  --mobile-h3-font-family: "Montserrat", Helvetica;
  --mobile-h3-font-weight: 700;
  --mobile-h3-font-size: 16px;
  --mobile-h3-letter-spacing: 0px;
  --mobile-h3-line-height: 139.9999976158142%;
  --mobile-h3-font-style: normal;
  --mobile-h4-font-family: "Montserrat", Helvetica;
  --mobile-h4-font-weight: 600;
  --mobile-h4-font-size: 14px;
  --mobile-h4-letter-spacing: 0px;
  --mobile-h4-line-height: 139.9999976158142%;
  --mobile-h4-font-style: normal;
  --mobile-h5-font-family: "Montserrat", Helvetica;
  --mobile-h5-font-weight: 600;
  --mobile-h5-font-size: 12px;
  --mobile-h5-letter-spacing: 0px;
  --mobile-h5-line-height: 139.9999976158142%;
  --mobile-h5-font-style: normal;
  --mobile-bodylg-font-family: "Montserrat", Helvetica;
  --mobile-bodylg-font-weight: 400;
  --mobile-bodylg-font-size: 14px;
  --mobile-bodylg-letter-spacing: 0px;
  --mobile-bodylg-line-height: 179.99999523162842%;
  --mobile-bodylg-font-style: normal;
  --mobile-bodymd-font-family: "Montserrat", Helvetica;
  --mobile-bodymd-font-weight: 400;
  --mobile-bodymd-font-size: 14px;
  --mobile-bodymd-letter-spacing: 0px;
  --mobile-bodymd-line-height: 139.9999976158142%;
  --mobile-bodymd-font-style: normal;
  --mobile-bodysm-font-family: "Montserrat", Helvetica;
  --mobile-bodysm-font-weight: 400;
  --mobile-bodysm-font-size: 12px;
  --mobile-bodysm-letter-spacing: 0px;
  --mobile-bodysm-line-height: 139.9999976158142%;
  --mobile-bodysm-font-style: normal;
  --mobile-bodyxs-font-family: "Montserrat", Helvetica;
  --mobile-bodyxs-font-weight: 400;
  --mobile-bodyxs-font-size: 10px;
  --mobile-bodyxs-letter-spacing: 0px;
  --mobile-bodyxs-line-height: 139.9999976158142%;
  --mobile-bodyxs-font-style: normal;
  --mobile-caption-font-family: "Montserrat", Helvetica;
  --mobile-caption-font-weight: 600;
  --mobile-caption-font-size: 12px;
  --mobile-caption-letter-spacing: 0.09600000143051148px;
  --mobile-caption-line-height: normal;
  --mobile-caption-font-style: normal;
  --mobile-button-font-family: "Montserrat", Helvetica;
  --mobile-button-font-weight: 400;
  --mobile-button-font-size: 14px;
  --mobile-button-letter-spacing: 0px;
  --mobile-button-line-height: 24px;
  --mobile-button-font-style: normal;
  --mobile-overline-font-family: "Montserrat", Helvetica;
  --mobile-overline-font-weight: 600;
  --mobile-overline-font-size: 10px;
  --mobile-overline-letter-spacing: 0px;
  --mobile-overline-line-height: 139.9999976158142%;
  --mobile-overline-font-style: normal;
}
