<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sản phẩm mới - LEATHERFORLOCAL</title>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/SanPhamMoi.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <script src="../../public/js/search-box.js"></script> 
</div>
</head>
<body>
  <div class="top-bar">Da thật - Phong cách thật</div>
  <header class="main-header">
    <div class="logo">
      <div class="logo-row">
        <a href="index.html" style="text-decoration:none; color:inherit;">
          <span>-LeatherForLocal-</span>
          <img src="https://pfst.cf2.poecdn.net/base/image/cbf0eb1018bc86141ca55e6c727c8acb4b84de0df8bff9b70b0f55a8779adf98?w=1024&h=768&pmaid=378107088" height="30px" width="50px" style="margin-left:12px;" />

        </a>
      </div>
      <small>Thời trang da cao cấp</small>
    </div>
    <nav>
      <a href="TatCa.html">Tất cả</a>
      <a href="SanPhamMoi.html">Sản phẩm mới</a>
      <a href="Balo_Da.html">Balo da</a>
      <a href="ThoiTrangDa.html"class="active-link">Thời trang da</a>
      <a href="PhuKienDa.html" >Phụ kiện da</a>
    </nav>
    <div class="header-icons">
     <span class="material-symbols-outlined" id="search-icon">search</span>
      <span class="material-symbols-outlined">account_circle</span>
      <span class="material-symbols-outlined">bookmark</span>
      <span class="material-symbols-outlined">shopping_cart</span>
    </div>
  </header>
  <!-- Mega Menu -->
  <div class="mega-menu">
    <div class="mega-menu-col">
      <h4>Các sản phẩm mới</h4>
      <ul>
        <li>Tất cả</li>
        <li>Áo khoác da biker</li>
        <li>Áo khoác da bomber</li>
        <li>Áo khoác da dài</li>
        <li>Áo khoác da lót lông</li>
        <li>Áo khoác da cổ điển</li>
        <li>Giày da cổ điển</li>
        <li>Giày da thể thao</li>
        <li>Giày da lười</li>
        <li>Giày da cao cổ</li>
        <li>Giày da tây</li>
        <li>Thắt lưng da</li>
      </ul>
    </div>
    <div class="mega-menu-col">
      <h4></h4>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  <!-- Best Sellers Section -->
  <section class="best-sellers">
    <div class="section-title">
      <h3>Sản phẩm mới</h3>
      <a href="#">Xem tất cả</a>
    </div>
    <div class="products-row">
      <div class="product-card">
        <img src="https://product.hstatic.net/200000366789/product/am2308__18_-1_4f4a3f07dee54931b308886675bc5678_large.jpg" alt="">
        <div class="product-title">Áo Da Bò Nam Racer </div>
        <div class="product-price">250.000 vnd</div>
      </div>
      <div class="product-card">
        <img src="https://product.hstatic.net/200000366789/product/erk08339-3_182735d27f5049cf9f9a282247bc24cc_large.jpg" alt="">
        <div class="product-title">ÁO DA NAM BIKER AM22</div>
        <div class="product-price">500.000 vnd</div>
      </div>
      <div class="product-card">
        <img src="https://product.hstatic.net/200000366789/product/_dsc7855_2345ad6c1914430597fccf06f6432a25_large.jpg" alt="">
        <div class="product-title">ÁO DA NAM SHERPA LEATHER JACKET</div>
        <div class="product-price">770.000 vnd</div>
      </div>
    </div>
  </section>
   <div id="search-overlay">
  <div class="search-bar-area">
    <div class="search-bar-inner">
      <form class="search-bar-form" onsubmit="return false;">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search" autofocus>
        <span id="close-search" class="material-symbols-outlined">close</span>
      </form>
    </div>
  </div>
  <div class="blur-bg"></div>
</body>
</html>